.scroll {
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transition: scrollbar-color 200ms ease-in-out;
}
.scroll:hover {
  scrollbar-color: #5d647285 transparent;
}

.panel {
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms ease-in;
}

/* Sidebar links */
.menu {
  @apply w-full flex items-center gap-4 rounded-lg px-3 py-3 transition-colors;
}
.submenu {
  @apply w-full flex items-center gap-4 rounded-lg px-5 py-1.5 transition-colors hover:bg-gray-100;
}